# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.iml

# 系统
.DS_Store
Thumbs.db

# 构建&依赖
node_modules/
miniprogram_npm/
dist/
temp/
tmp/

# 云函数依赖
cloudfunctions/*/node_modules/

# 微信开发者工具生成/私密配置
project.private.config.json
private.*
*.log

# 打包文件
*.zip